:root{
    --couleur1:#FD307A;
    --couleur2:#FFFFFFAD;
    --couleur3:#293445;
    --couleur4:#A5B8D2;
    --font1:Zen Dots;
    --font2:Montserrat;
}

*{
    margin: 0;
    scroll-behavior: smooth;
    transition: all 0.5s ease-in-out;
    font-family: var(--font1);
}

body{
    background-color: var(--couleur3);
    text-align: -webkit-center;
}


/* header */

header{
    display: flex;
    max-width: 1300px;
    justify-content: center;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    
}

header a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font2);
    line-height: 80px;
    color: white;
}

header a:hover{
    color: var(--couleur1);
}

header ul{
    display: flex;
    list-style: none;
    gap: 50px;
    padding-left: 0;
}

header img{
    vertical-align: middle;
}

/* footer */

footer{
    max-width: 1920px;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    height: 358px;
    align-items: center;
    text-align: left;
    
}

footer a, footer p{
    color: var(--couleur4);
    font-family: var(--font2);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 10px;
}

footer a:hover{
    color: var(--couleur1);
}

footer h2{
    font-family: var(--font1);
    color: white;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    padding-bottom: 20px;
    padding-top: 20px;
}

footer ul{
    list-style: none;
    padding-left: 0;
}

.fd1{
    justify-self: center;
    display: grid;
    
}

footer img{
    padding-bottom: 35px;
}

/* section 1 */
#s1d1 {
    max-width: 1300px;
    justify-content: center;
    text-align: left;
}

#s1d1 p{
    font-family: var(--font1);
    color: white;
    font-size: 14px;
    letter-spacing: 5px;
    line-height: 17.5px;
    font-weight: 400;
    padding-top: 280px;
    padding-bottom: 20px;
    text-transform: uppercase

}

#s1d1 h1{
    font-family: var(--font1);
    color: white;
    font-size: 100px;
    line-height: 100px;
    font-weight: 400;
    max-width: 925px;
    margin-bottom: 60px;
}

#s1ar1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-style: solid;
    border-width: 0.1px;
    border-color: var(--couleur2);
    max-width: 1300px;
    justify-self: center;
}

#s1ar1 a{
    text-decoration: none;
}

#s1ar1 p{
    color: var(--couleur1);
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: 5px;
    padding-bottom: 30px;
}

#s1ar1 h2{
    color: white;
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
}

.s1d2{
    border-right-style: solid;
    border-right-width: 0.1px;
    border-left-style: solid;
    border-left-width: 0.1px;
    border-top-style: solid;
    border-top-width: 0.1px;
    border-color: var(--couleur2);
    height: 188px;
    padding: 30px;
    align-content: space-evenly;
    text-align: left;
}

.s1d2:hover{
    background-color: rgba(255, 255, 255, 0.34);
}

#s1{
    background-image: linear-gradient(#0000002b, #000000d4), url(../img/22317ff2f5f4016cb7ad2620a130b3b2a362241c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* section 2 */

#s2{
    background-image: url(../img/3a4ffb63bd4f03614c05b83965065982abfafa70.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    justify-items: center;
}

#s2ar1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1600px;
    padding-bottom: 200px;
}

#s2ar1 img {
    width: 100%;
    height: 100%;
}

.s2txt{
    color: var(--couleur2);
    font-weight: 500;
    font-family: var(--font2);
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 80px;
}

#s2ar1 .minititre{
    color: var(--couleur2);
    padding-top: 100px;
    padding-bottom: 20px;
}

.minititre{
    font-family: var(--font1);
    color: white;
    font-size: 14px;
    letter-spacing: 5px;
    line-height: 17.5px;
    font-weight: 400;
    text-transform: uppercase
}

#s2ar1 h3{
    font-family: var(--font1);
    color: white;
    font-weight: 400;
    font-size: 55px;
    line-height: 60px;
    max-width: 500px;
    padding-bottom: 60px;
}

#s2ar1 a{
    text-decoration: none;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    font-family: var(--font1);
    color: white;
    font-size: 12px;
    letter-spacing: 5px;
    line-height: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

#s2ar1 a:hover{
    background-color: rgba(255, 255, 255, 0.34);
}

.s2d1{
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
    max-width: 500px;
}

#s2ar2{
    max-width: 1000px;
}

#s2ar2 h3{
    font-family: var(--font1);
    color: white;
    font-weight: 400;
    font-size: 55px;
    line-height: 60px;
    padding-bottom: 60px;
    padding-top: 30px;
}

#ptilien{
    display: grid;
}

.futurjs{
    display: flex;
    justify-content:space-between ;
    text-decoration: none;
    color: white;  
    margin-bottom:30px;  
}

#s2 details p{
    color: var(--couleur2);
    font-weight: 500;
    font-family: var(--font2);
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 20px;
}

#flecheup{
    display: none;
}
#s2 details[open] span, #s2 details[open] i{
    color: var(--couleur1);
}

#s2 details[open] #flechedown{
    display: none;
}
#s2 details[open] #flecheup{
    display: block;
}

.futurjs i{
    color: var(--couleur4);
}

.futurjs span{
    font-size: 37px;
    line-height: 37px;
}

#s2 hr{
    border-style: solid;
    border-width: 0.01px;
    border-color: rgba(255, 255, 255, 0.149);
    margin-bottom:30px;
}

/* section 3 */


#s3{
    text-align: left;
    max-width: 1900px;
    margin: auto;
}

#s3d2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    max-width: 1820px;
}

#s3 h2{
    font-family: var(--font1);
    color: white;
    font-weight: 400;
    font-size: 55px;
    line-height: 60px;
    text-align: left;
}

#s3d2 a{
    font-family: var(--font1);
    color: var(--couleur2);
    font-size: 14px;
    letter-spacing: 5px;
    line-height: 17.5px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    gap: 30px;
}

#s3d1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 756px;
}

.s3p1{
    color: var(--couleur1);
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#s3 h3{
    font-family: var(--font1);
    color: white;
    font-weight: 400;
    font-size: 33px;
    line-height: 40px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#s3 a{
    text-decoration: none;
}

#s3 a:hover{
    color: var(--couleur1);
}

.s3p2{
    color: var(--couleur2);
    font-weight: 500;
    font-family: var(--font2);
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#s3ar1{
    background-image:  linear-gradient(#0000002b, #000000d4), url(../img/ea9086722075b0fe032613326acd8ae0cabec077.jpg);
    align-content: end;
    background-repeat: no-repeat;
    background-size: cover;
}
#s3ar1:hover{
    background-image: url(../img/ea9086722075b0fe032613326acd8ae0cabec077.jpg);
}
#s3ar2{
    background-image: linear-gradient(#0000002b, #000000d4), url(../img/6fb81d13b5bba345f0a015a796df2713500d212c.jpg);
    align-content: end;
    background-repeat: no-repeat;
    background-size: cover;
}
#s3ar2:hover{
    background-image: url(../img/6fb81d13b5bba345f0a015a796df2713500d212c.jpg);
}
#s3ar3{
    background-image:  linear-gradient(#0000002b, #000000d4),url(../img/4ed92d4aa084f0cdcd826d4877ddb32a10505c23.jpg);
    align-content: end;
    background-repeat: no-repeat;
    background-size: cover;
}
#s3ar3:hover{
    background-image: url(../img/4ed92d4aa084f0cdcd826d4877ddb32a10505c23.jpg);
}
#s3ar4{
    background-image: linear-gradient(#0000002b, #000000d4), url(../img/e23ee2f46607c6725ab13ac6e318d9793efe3ddb.jpg);
    align-content: end;
    background-repeat: no-repeat;
    background-size: cover;
}
#s3ar4:hover{
    background-image: url(../img/e23ee2f46607c6725ab13ac6e318d9793efe3ddb.jpg);
}

/* section 4 */
#s4{
    background-image: url(../img/0ae078db535602caf4b0040d8f3b16fe55567c0a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;

}

#s4>p{
    font-family: var(--font1);
    color: white;
    font-size: 14px;
    letter-spacing: 5px;
    line-height: 17.5px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    padding-top: 160px;
    max-width: 1000px;
    padding-left: 150px;
    padding-right: 150px;
}

#s4 h2{
    font-family: var(--font1);
    color: white;
    font-weight: 400;
    font-size: 55px;
    line-height: 60px;
    text-align: left;
    max-width: 1000px;
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 150px;
    padding-right: 150px;
}

#s4d1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
    padding-left: 150px;
    padding-right: 150px;
    gap: 80px;
    text-align: left;
}

.s4ar1 h3{
    color: white;
    font-family: var(--font1);
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: left;
    padding-bottom: 20px;
}

.s4ar1 p{
    color: var(--couleur2);
    font-weight: 500;
    font-family: var(--font2);
    font-size: 16px;
    line-height: 25px;
}

#s4 hr{
    max-width: 1300px;
    border-color: rgba(255, 255, 255, 0.138);
    margin-top: 40px;
}

#s4d2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1000px;
    padding-bottom: 150px;
}

#s4d2 img{
    width: 100%;
}

/* section 5 */
#s5{
    background-image: linear-gradient(#0000002b, #000000d4), url(../img/4914f82c0178c671473d3e92426361f91bd6896e.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 756px;
    align-content: space-evenly;

}

#s5 h2{
    font-family: var(--font1);
    color: white;
    font-size: 55px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 40px;
    max-width: 700px;
}

#s5 p{
    color: var(--couleur2);
    font-weight: 500;
    font-family: var(--font2);
    font-size: 16px;
    line-height: 25px;
    max-width: 692px;
    padding-bottom: 60px;
}

#s5 a{
    text-decoration: none;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    font-family: var(--font1);
    color: white;
    font-size: 12px;
    letter-spacing: 5px;
    line-height: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

#s5 a:hover{
    background-color: rgba(255, 255, 255, 0.34);
}

#s5 hr{
    border-color: var(--couleur1);
    width: 70px;
    margin-bottom: 60px;
}

/* burgermenu */
#burgerdiv, #burgercheck{
    display: none;
}

#burgerdiv{
    background-color: var(--couleur1);
    padding: 14px;
    border-radius: 32px;
    color: white;
    font-size: 24px;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

#burgerdiv:hover{
    background-color: white;
    color: var(--couleur1);
}


/* responsive */

@media screen and (max-width :1024px) {
    #s1ar1{
        grid-template-columns: 1fr 1fr;
    }

    #s3d1{
        grid-template-columns: 1fr 1fr;
        height: 1512px;
    }

    #s4d2{
        grid-template-columns: 1fr 1fr 1fr;
    }


    #burgerdiv{
    display: block;
    }
    header ul{
        display: none;
    }

    #burgercheck:checked ~ nav ul{
    display: block;
    padding-left: 0;
    text-align: right;
    justify-content: right;
    position: absolute;
    min-width: -webkit-fill-available;
    }

    #burgercheck:checked ~ nav ul li{
    padding-left: 0;
    text-align: right;
    justify-content: right;
    padding: 0;
    margin: 0;
    text-box-trim: trim-end;
    }



}


@media screen and (max-width :767px) {

    #s4d2{
        grid-template-columns: 1fr 1fr;
    }

    #s4d1{
        grid-template-columns: 1fr;
    }

    footer{
        grid-template-columns: 1fr;
        text-align: center;
    }

      #s1ar1{
        grid-template-columns: 1fr;
    }

       #s3d1{
        grid-template-columns: 1fr;
        height: 3024px;
    }

    #s1d1 h1{
        font-size: revert;
    }

    #s4 h2{
        padding-left: 0;
        padding-right: 0;
    }
    #s4 p{
        padding-left: 0;
        padding-right: 0;
    }
    #s4d1{
        padding-left: 0;
        padding-right: 0;
    }
    #s3d2{
        display: grid;
    }
    #s3d2 h2{
        padding-bottom: 20px;
    }
    .s2d1{
        padding-left: 0;
        padding-right: 0;
    }
    #s2ar1{
        grid-template-columns: 1fr;
    }
    #s2ar1 img{
        padding-top: 80px;
    }
    #s4 h2{
        font-size: 40px;
    }
    #s3d2 h2{
        font-size: 40px;
    }
    #s2ar2 h3{
        font-size: 40px;
    }
}

